---
import Layout from '../layouts/page.astro';
---

<Layout>
	<div class="shop">
		<h1>Shop Sandwich Kits</h1>

		<noscript>
			<p>
				Javascript is required to purchase things from the sndwch web store. To
				order by phone, call <a href="tel:+1234567">+1 234567</a>.
			</p>
		</noscript>

		<div class="products">
			<p>TODO : List product</p>

			<p>TODO : Show the cart</p>
		</div>
	</div>
</Layout>

<style>
	.shop {
		padding: 3rem 5%;
	}

	.products {
		align-items: flex-start;
		display: grid;
		gap: 2rem;
		grid-template-columns: 1fr 260px;
		position: relative;
	}
</style>
